<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Informed Voter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
 <div class="col text-center">
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/" role="button">Issue</a>
    <a class="btn btn-primary" href="/" role="button">Mission</a>
    <a class="btn btn-primary" href="/" role="button">App</a>
    <a class="btn btn-primary" href="/" role="button">Team</a>
    <a class="btn btn-primary" href="/" role="button">Contact</a>
 </div>


        <!--<p> If you have any questions, please reach out to us at contact@theinformedvoterproject.org </p>-->
</body>
</html>
