<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Informed Voter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
 <div class="footer">
 <div class="col text-center">
    <div class="hero-text">
        <a href="/app">Home</a>
        <a href="/app">Issue</a>
        <a href="/app">Mission</a>
        <a href="/app">App</a>
        <a href="/app">Team</a>
        <a href="/app">Contact</a>
     </div>
     <div class="footer-text"> For business inquiries, please reach out to us at contact@theinformedvoterproject.org 
     </div>
     <div class="footer-text"> The Informed Voter Project is a registered 501(c)(3) organization
     </div>
 </div>
</div>


</body>
</html>
