<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The navigation menu -->
<div class="navbar">
  <a href="index.md">Home</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="issue.md">The Issue</a>
      <a href="our-mission.md">Our Mission</a>
      <a href="our-team.md">Our Team</a>
      <a href="contact-us.md">Contact Us</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Mobile App <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="about-the-app.md">About the App</a>
      <a href="download-app.md">Download</a>
    </div>
  </div>
</div>
