<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <style>
         .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}
    </style>
</head>
<body>
<nav class="navbar transparent navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">The Informed Voter Project</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav nabar-right">
        <li><a href="/issue">The Issue</a></li>
        <li><a href="/mission">Mission</a></li>
        <li><a href="/app">Mobile App</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/contact">Contact</a></li>  
<!--        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/team">Our Team</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
  
</body>
</html>
