<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="../styles/navy.css"> 
</head>
<body>

<div class="container">
    <div class="logo">
        <a href="#"><img src="../images/logo-bw.png" alt="logo"></a>
    </div>
<div class="navbar">

<div class="icon-bar" onclick="Show()">
    <i></i>
    <i></i>
    <i></i>
</div>

<ul id="nav-lists">
    <li class="close"><span onclick="Hide()">×</span></li>
    <li><a href="/">Home</a></li>
    <li><a href="/issue">The Issue</a></li>
    <li><a href="/mission">Mission/a></li>
    <li><a href="/app">Mobile App/a></li>
</ul>

</div>
</div>

<script src="../scripts/navy.js"></script>
</body>
</html>
