/* General */
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
}

h8 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: #333;
    text-align: center;
    margin-bottom: 35px;
}

h7 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    
}

p8 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 35px;
}

.gray-back {
    background-color: #ddd;
  /* #ddd */
}

.space {
  padding: 50px 50px 50px 50px;
}


/* Home page*/
.hero-image {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/space-needle-656195.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text a {
    border: 1px solid #fff;
    background-color: Transparent;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.hero-text a:hover {
    background: #fff;
    color: #333;
}

/* Issue Page */
.issue-image {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/person-in-black-sweater-hold-a-grey-road-bike-122477.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.issue-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.black-button {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.black-button a {
    border: 1px solid #333;
    background-color: Transparent;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #333;
}

.black-button a:hover {
    background: #333;
    color: #fff;
}

/* Footer */

footer {
  color: #333;
}

.footer-text{
  text-align: center;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
