/* Hompage */
*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: auto;
    margin: 0;
}

.city {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/seattle.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/seattle.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
 
 /* Flexbox */
    display: flex;
    align-items: center;
}

/* Navigation */
body { 
    padding-left: 0px; 
    padding-right: 0px; 
}

/* Banner */

.logo img{
    width: 100px;
    float: left;
    height: auto;
}

/* Headings on image */
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}   

.welcome-text h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}  


.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}  

.welcome-text a:hover {
    background: #fff;
    color: #333;
}  

.welcome-text p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
