/* Hompage */
*{
    margin: 0;
    padding: 0;
}
.wrapper {
    width: auto;
    margin: 0;
}
header {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/seattle.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* Navigation */
body {  
    padding-left: 30px; 
    padding-right: 30px; 
}
/* Banner */

.logo img{
    width: 100px;
    float: left;
    height: auto;
}
/* Headings on image */
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}   
.welcome-text h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}  
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}  
.welcome-text a:hover {
    background: #fff;
    color: #333;
}  
.welcome-text p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

/* Goals */
body {
    margin: 0;
    padding: 0;
}

.goals-section {
    background: #f1f1f1;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}

.goal {
    float: left;
    width: calc(100%/3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.goal:hover {
    background: #ddd;
}

.goal img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.g-name {
    margin: 30px 0;
    text-transform: uppercase;
}    

.goal-button a{
    border: 1px solid #333;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #333;
}  
.goal-button a:hover {
    background: #fff;
    color: #333;
}  

@media screen and (max-width:600px) {
    .goal {
        width: 100%
    }
}  

/* Act as if ... */

.statement-section {
    background: #f1f1f1;
    text-align: center;
}

.rem-vote {
    background-image: url(../images/rem-vote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.statement-section h1 {
    color: #fff;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

.statement a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}  
.statement a:hover {
    background: #fff;
    color: #333;
}  
