body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.team-section {
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin: 4vmax 0 0 3vmax;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 10px;
}

.pe {
    float: left;
    width: calc(100%/3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.pe:hover {
    background: #ddd;
}

.pe img {
    height: 250px;
    width: 250px;
}

.p-name {
    margin: 20px 0;
}    

.p-des {
    font-style: italic;
    color: #3498db;
} 


@media screen and (max-width:600px) {
    .pe {
        width: 100%
    }
}        

    
    
